<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内业务流量加强学习</string>
		<key>subTitle</key>
		<string>考试时间 20160202 ~ 20160205</string>
		<key>attend</key>
		<string>299人已经考试</string>
	</dict>
</array>
</plist>
