<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>总部</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>总部</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>总部</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>总部</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>总部</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>总部</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>张乐乐</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蔡化</string>
				<key>jobName</key>
				<string>店长</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
