<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeaderViewAndPageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90A05E7B1D58779600C8212A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90A05E941D58779600C8212A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90A05E9F1D58779600C8212A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
