<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7B834A31E5D655900AE7013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B834BC1E5D655A00AE7013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B834C71E5D655A00AE7013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
