<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppStoreCheckUpdate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99B1065E1D2E2B0F00AFD267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B106771D2E2B0F00AFD267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B106821D2E2B1000AFD267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
